@model NpaManagerMVC.Models.Period

@{
    ViewBag.Title = "Delete";
}

<h2>Удалить</h2>

<h3>Вы уверены, что хотите удалить период?</h3>
<div>
    <h4>Период</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quarter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quarter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFirst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFirst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Editable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Browsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Browsable)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
